header{
    background-color: black;
}

body{
    background-image: url('../img/background/accueil.webp');
    background-size: cover;
    background-position: center;
}

.info_perso {
    display: flex;
    justify-content: center;
}

.pres {
    width: 446px;
    height: 100px;
}