body{
    background: url('/img/background_img/infos.webp');
    background-size: cover;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 7vh auto;
    padding: 2vh;
    background-color: white ;
    border-radius: 133px;
    min-width: 30vh;
    max-width: 90vh;
    animation: floatate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.title{
    text-align: center; 
}
.message{
    text-align: center; 
    margin-top: 20px;
}
h1{
    font-size: 3vh;
}  
p{
    font-size: 1.6vh;
}

@keyframes floatate {
    50%{
        transform: translateY(7px);
      }
  }
  @media (max-width: 900px) {
    .container{
        animation: none;
    }
  }
