header{
  background-color: black;
}

.cards{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 10px;
  padding: 10px;
  gap: 15px;
  background-color: red;
}

.card{
  width: 100%;
  background-color: aqua;
  text-align: center;
}

.card .img img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}