body{
    background: url('../img/accueil.png') no-repeat;
    background-size:cover;    
}
h1{
    font-family: Imperial Script;
    font-style: normal;
    text-align: center;
    color: aliceblue;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
.image{
    display: block;
    text-align: center;
    height: auto;
}