body{
    background-image: url('../img/accueil.png');
    background-size: cover;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1{
    animation-duration: 2s;
    animation-name: apparition;

    font-family: Imperial Script;
    font-style: normal;
    text-align: center;
    color: aliceblue;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 4vh;
}
@keyframes apparition {
    from {
      opacity: 0%;
      transform: translateY(-100px);
    }
    to {
     opacity: 100%;
     transform: translateY(0px);
    }
}