body{
    background: url('../img/infos.jpg') no-repeat;
    background-size:cover; 
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: white ;
    border-radius: 133px;
    
    animation: floatate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.title{
    text-align: center;    
}
.message{
    text-align: center; 
    margin-top: 20px;
}

@keyframes floatate {
    50%{
        transform: translateY(10px);
      }
  }
