ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1%;
    background-attachment: fixed;
    
}

li {
    list-style: none;
    display: flex;  
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    border-radius: 133px;
    margin-top: 2vh;
    width: 20vh;
    animation: apparition-left 2s;
}

.perso {
  width: 10vh;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 1s ease-out;
  box-shadow: 0 0 0 0 white;
  border-radius: 48%;

  animation: pulse 1.3s infinite;
  animation: apparition-left 2s;
}

a.nav-link{
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 2vh;
    line-height: 2vh;
    text-align: center;
}

  
  a:hover,
  a:focus {
    opacity: 25%;
  }
  
  @keyframes pulse {
    to{
      box-shadow: 0 0 0 18px rgba(0, 0, 0, 0.01)
    }
  }

  @keyframes apparition-left {
    from {
      transform: translateX(-100px);
    }
    to {
      transform: translateX(0px);
    }
}